body.index {
  display: grid;
}
body {
  width: auto;
  min-height: 100vh;
  padding-left: 27px;
  padding-top: 35px;
  background-color: #a1a1a1;
}
p.details {
  color: black;
  margin-top: 18px;
}
h4.title {
  background-color: darkslategray;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: var(--bs-border-radius-lg) !important;
  color: azure;
}
.title1 {
  text-align: left;
  margin: 0px;
  color: azure;
  font-family: var(--bs-body-font-family);
}
.titleheading {
  background-color: darkslategray;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  border-radius: var(--bs-border-radius-lg) !important;
  color: azure;
}
.c1,
.c2 {
  color: rgba(3, 3, 3, 0.451);
}

#title {
  text-align: center;
}

.p-3.text-primary-emphasis.bg-primary-subtle.border.border-primary-subtle.rounded-3 {
  background-color: darkslategray;
}
.mood {
  display: flex;
  align-items: flex-end;
  /* width: 15%;
  height: 200px;
  object-fit: cover; */
}
.mood-type {
  display: flex;
  align-items: flex-end;
}
.row-container {
  display: flex;
  gap: 20px;
}
.movie {
  display: flex;
  align-items: flex-start;
  font-size: small;
  gap: 7px;
}
.row-container a:hover {
  color: rgb(255, 0, 0);
  border: 5px solid red;
}
img.float-left {
  width: 16%;
  height: 200px;
}

.name p {
  text-decoration: wavy;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.p2 {
  font-style: italic;
}

.clear {
  clear: both;
}
.d-inline {
  display: inline-block;
}
footer {
  padding-top: 55px;
}
ul.dropcap li::first-letter {
  color: rgb(22, 66, 37);
  font-size: 3em;
  line-height: 1;
}
ul.listed li a {
  text-decoration: none;
}
