.title1{
    text-align: left;
    margin: 0px;
    color: rgb(34, 22, 22);
    font-family:'Courier New', Courier, monospace;
    
}
.title{
    color: rgb(34, 22, 22);
}
.c1,.c2{
    color: rgba(246, 8, 12, 0.451);
}

#title{
    
    text-align: center;
}
ul.listed li a{
    text-decoration: none;
    color: blue;
}

/* [fsdf]{
    
}

h1{
    
} */
.moood{
    display: inline-block;
    display: flex;
    width: 15%;
    height: 200px;
    object-fit: cover;
}
.row{
     display: inline-block; 
     display: flex;
}
.row a:hover{
    color:rgb(255, 0, 0);
    border: 5px solid red;
    display: block;
}



body{
    background-image: url(img/background2.jpg);
    background-size: cover;
    background-repeat: round;
}
.name p{
    
        text-decoration: wavy;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.p2{
    font-style: italic;
}


.clear{
    clear: both;
}
.d-inline{
    display: inline-block;
}
