/* body {
  background-color: yellow;
  color: blue;
}
p {
  color: orange;
}
.central,
.item {
  color: green;
}
#item {
  background-color: white;
}
ul {
  color: purple;
  background-color: beige;
} */
body {
  background-color: yellow;
  color: magenta;
}
p {
  color: orange;
}
.central,
.item {
  color: green;
}
#item {
  background-color: cyan;
}
